doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Marketplace hack for Carepress by Anthem')
    meta(name='author' content='Room 108')
    title Carespree Marketplace
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(type="text/javascript" src="/javascripts/index.js")
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=VRi8s7qGDWwKjdIZNxbY~PrQ224TqdqR2EEJ-YDMs_w~ArHscXJnPvbphph6BML7ovB2FqZ85feneUaQkwfXnpEY-2lQ_cVYBcNX_sDo7TML' async defer)
  body
    block content
